.elements {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  padding: var(--space-primary);

  .elements-items {
    width: 100%;
    height: 100%;
    margin-top: var(--space-primary);
    overflow-y: auto;

    .elements-item {
      width: 100%;
      padding: 5px;
    }
  }
}

.element {
  width: 100%;
  height: auto;
  min-height: 70px;
  position: relative;
  padding: 5px;
  background-color: var(--shade-white);

  .element-image {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
