.editor {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: auto 0;
  padding: var(--space-primary);
}
.editor .editor-header {
  width: 100%;
  height: 50px;
}
.editor .editor-footer {
  width: 100%;
  height: 50px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor .editor-canvas {
  width: 100%;
  position: relative;
  flex: 1;
}
.editor .editor-canvas #editor {
  width: 100%;
  height: 100%;
  border: 2px solid var(--shade-secondary);
}
.editor .editor-button {
  width: 35px;
  height: 35px;
  margin: 0 5px;
  background: var(--shade-ternary);
  border: none;
}
.editor .editor-button:hover {
  background: var(--shade-primary);
  color: var(--shade-white);
}

/*# sourceMappingURL=index.css.map */
