.uploads {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  padding: var(--space-primary);

  .uploads-items {
    width: 100%;
    height: 100%;
    margin-top: var(--space-primary);
    overflow-y: auto;

    .list {
      width: 100%;
      padding-left: var(--space-primary);

      .list-item {
        width: 100%;
      }
    }
  }

  .upload-file {
    width: 100%;
    padding: var(--space-secondary);

    .upload-file-button {
      width: 100%;
      padding: var(--space-primary);
      border: 2px solid var(--shade-primary);
      border-radius: var(--radius-primary);
      color: var(--shade-primary);
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      background-color: var(--shade-white);

      &:hover {
        background-color: var(--shade-primary);
        color: var(--shade-white);
      }
    }
  }
}
