.toolbar {
  height: 100%;
  position: relative;
  display: flex;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }

  .tools-navigation {
    width: auto;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: var(--shade-secondary);

    .tool-item {
      width: 80px;
      height: 80px;
      display: flex;
      flex-direction: column;
      color: var(--shade-white);
      cursor: pointer;
      transition: all 0.3s ease-in-out;

      &.active {
        left: var(--space-primary);
        background: var(--shade-ternary);
        color: var(--shade-secondary);
      }

      .tool-icon {
        width: 100%;
        height: 50px;
        font-size: 25px;
        padding: 5px 0;
        display: flex;
        justify-content: center;
        align-items: flex-end;
      }

      .tool-name {
        width: 100%;
        height: 30px;
        padding: 5px 0;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
      }
    }
  }

  .tools-container {
    width: 250px;
    height: 100%;
    position: relative;
    background: var(--shade-ternary);
    opacity: 0.8;
  }
}
