.toolbar {
  height: 100%;
  position: relative;
  display: flex;
}
.toolbar.left {
  left: 0;
}
.toolbar.right {
  right: 0;
}
.toolbar .tools-navigation {
  width: auto;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--shade-secondary);
}
.toolbar .tools-navigation .tool-item {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  color: var(--shade-white);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.toolbar .tools-navigation .tool-item.active {
  left: var(--space-primary);
  background: var(--shade-ternary);
  color: var(--shade-secondary);
}
.toolbar .tools-navigation .tool-item .tool-icon {
  width: 100%;
  height: 50px;
  font-size: 25px;
  padding: 5px 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.toolbar .tools-navigation .tool-item .tool-name {
  width: 100%;
  height: 30px;
  padding: 5px 0;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}
.toolbar .tools-container {
  width: 250px;
  height: 100%;
  position: relative;
  background: var(--shade-ternary);
  opacity: 0.8;
}

/*# sourceMappingURL=index.css.map */
