@import "../../styles/variables/paths";

.home-page {
  background-image: url("#{$images_path}backgrounds/bg1.png");
  background-position: center;
  background-size: cover;

  .page-content {
    flex-direction: column;

    h1 {
      color: var(--shade-white);
    }
  }

  .tools-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .tool-item {
      width: 160px;
      height: 160px;
      margin: var(--space-primary);
      text-decoration: none;
    }
  }
}
