.card {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  background: var(--shade-white);
  border-radius: 10px;
  overflow: hidden;
  flex: 1 auto;
  color: var(--shade-primary);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
}
.card:hover, .card:active {
  background: var(--shade-primary);
  color: var(--shade-white);
}
.card.circle {
  border-radius: 100%;
}
.card .card-icon {
  width: 100%;
  height: 60%;
  font-size: 50px;
  padding: var(--space-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.card .card-label {
  width: 100%;
  height: 40%;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
