html, body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
}

body {
  * {
    box-sizing: border-box;
  }

  .App {
    &.light-theme {
      --shade-white: #ffffff;
      --shade-primary: #390d80;
      --shade-secondary: #454545;
      --shade-ternary: #f5f5f5;
      --space-primary: 10px;
      --space-secondary: 5px;
      --radius-primary: 5px;
      --radius-secondary: 3px;
    }

    h1 {
      font-size: 28px;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      margin: 10px 0 50px 0;
    }
  }
}
