.texts {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  padding: var(--space-primary);
}
.texts .texts-items {
  width: 100%;
  height: 100%;
  margin-top: var(--space-primary);
  overflow-y: auto;
}
.texts .texts-items .text-item {
  width: 100%;
  padding: 5px;
}

.text {
  width: 100%;
  height: auto;
  padding: 10px;
  position: relative;
  background-color: var(--shade-white);
}
.text .text-title {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}
.text .select-variant {
  width: 100%;
  height: 30px;
  margin-top: 5px;
}

/*# sourceMappingURL=index.css.map */
