.folders {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  padding: var(--space-primary);

  .folders-items {
    width: 100%;
    height: 100%;
    margin-top: var(--space-primary);
    overflow-y: auto;

    .list {
      width: 100%;
      padding-left: var(--space-primary);

      .list-item {
        width: 100%;
      }
    }
  }

  .create-folder {
    width: 100%;
    padding: var(--space-secondary);

    .create-folder-button {
      width: 100%;
      padding: var(--space-primary);
      border: 2px solid var(--shade-primary);
      border-radius: var(--radius-primary);
      color: var(--shade-primary);
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold;
      background-color: var(--shade-white);

      &:hover {
        background-color: var(--shade-primary);
        color: var(--shade-white);
      }
    }
  }
}

.folder {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: var(--space-secondary);
  background-color: var(--shade-white);
  border: 3px solid var(--shade-white);
  padding: var(--space-secondary);
  cursor: pointer;

  &:hover {
    background-color: var(--shade-ternary);
    border: 3px solid var(--shade-primary);
  }

  .folder-box {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex: 0 auto;
    align-items: center;
    overflow: hidden;

    .folder-icon {
      width: 50px;
      height: 40px;
      margin-right: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: var(--shade-primary);
      background-color: var(--shade-ternary);
    }

    .folder-data {
      width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: var(--space-secondary);

      h4 {
        width: 100%;
        margin: 0 0 var(--space-secondary) 0;
        font-size: 13px;
        font-weight: bold;
        text-transform: uppercase;
      }

      strong {
        font-size: 12px;
        padding: var(--space-secondary);
        background-color: var(--shade-ternary);
        border-radius: var(--radius-primary);
      }
    }
  }
}
