.videos {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  padding: var(--space-primary);
}
.videos .videos-items {
  width: 100%;
  height: 100%;
  margin-top: var(--space-primary);
  overflow-y: auto;
}
.videos .videos-items .video-item {
  width: 100%;
  padding: 5px;
}

.video {
  width: 100%;
  height: auto;
  position: relative;
  background-color: var(--shade-white);
  display: inline-flex;
}
.video .video-image {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
  object-fit: cover;
}

/*# sourceMappingURL=index.css.map */
