.templates {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 auto;
  padding: var(--space-primary);

  .templates-items {
    width: 100%;
    height: 100%;
    margin-top: var(--space-primary);
    overflow-y: auto;

    .template-item {
      width: 100%;
      padding: 5px;
    }
  }
}

.template {
  width: 100%;
  height: auto;
  min-height: 150px;
  position: relative;
  background-color: var(--shade-white);

  .template-source {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}
