.search-box {
  width: 100%;
  position: relative;

  .search-input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    outline: none;
    padding: 0 var(--space-primary);
    box-shadow: none;
    border: none;

    &:focus {
      border: 2px solid var(--shade-primary);
    }
  }
}
