.page {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  position: relative;
}
.page .page-content {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=index.css.map */
