.tooltip-wrapper {
  position: absolute;

  &.top {
    top: var(--space-secondary);
  }

  &.bottom {
    bottom: var(--space-secondary);
  }

  &.left {
    left: var(--space-secondary);
  }

  &.right {
    right: var(--space-secondary);
  }

  .tooltip-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--shade-white);
    background-color: var(--shade-secondary);
    border-radius: 50%;
    font-size: 0.5em;
    cursor: pointer;

    &:hover {
      background-color: var(--shade-primary);
    }
  }
}
